body {
    font-family: "Montserrat", sans-serif;
    background-image: url("https://cdn.dribbble.com/userupload/10094950/file/original-dcf36a3cd205cd5e0e2189249aba39d5.jpg?resize=752x"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    background-attachment: fixed;
}

.main {
    display: flex;
    justify-content: center;
    position: relative;
}

.titulo {
    margin: 2%;
    position: relative;
    z-index: 2;
}

.container {
    display: block;
    background-color: #db3431;
    padding: 10px;
    border-radius: 5%;
    width: 30%;
    box-shadow: 10px 10px #022b02;
    margin-bottom: 2%;
    word-wrap: break-word;
    cursor: pointer;
}

.left {
    display: flex;
    justify-content: start;
    margin-left: 2%;
}

.right {
    display: flex;
    justify-content: end;
    margin-right: 2%;
}

.profile {
    width: 100%;
    border-radius: 5%;
}

.contact {
    display: none;
}

.content {
    width: 70%;
    position: relative;
    z-index: 1;

}

.background {
    height: 100%;
    width: 100%;
    background-color: #5e9b60;
    position: absolute;
    z-index: 0;
    opacity: 80%;
    border-radius: 1.5%;
}

.primeira {
    position: relative;
    z-index: 1;
}

h1 {
    text-align: center;
    margin-block: 5%;
}

.a-container {
    width: 10vh;
    height: 10vh;
    border-radius: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-button {
    height: 100%;
}
.backButton {
    text-decoration: none;
    color: #289e2c;
    font-size: 7vh;
    margin-top: -10px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #289e2c;
}
a {
    transition: transform 0.3s ease;
}

a:hover {
    transform: scale(1.1);
}

.container {
    transition: transform 0.3s ease;
}

.container:hover {
    transform: scale(1.04);
}