<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./sobre.css">
    
</head>

<body>
    
    <div id="returnButton" style="opacity: 1;">
        <div class="a-container">
            <a class="backButton" href="./menu.html">&#8592;</a>
        </div>
    </div>
    <div class="main">
        <div class="content">
            <div class="background"></div>
            
            <div class="titulo">
                <h1>Sobre nós</h1>
                <p>Jogo da memoria, primeiro projeto desenvolvido por componentes de uma equipe com o objetivo de
                    adquirir habilidade de HTML e CSS de todos os integrantes, localizado na Instituição Ponto
                    Cidadão em Igarassu, PE. A atividade para estimula o cérebro de diversas maneiras, incluindo a
                    memória de curto prazo, o raciocínio lógico, a coordenação motora e a agilidade mental. À medida
                    que os jogadores desafiam suas mentes, estão contribuindo para o fortalecimento de redes neurais
                    e para um desenvolvimento cognitivo mais completo.</p>
                </div>
                
                <div class="titulo">
                    <h1>Desenvolvedores</h1>
                </div>
                
                <div class="primeira">
                    <div class="left">
                        <div id="thiago" class="container">
                            
                            
                            <div onclick="mostrarContato('thiago-contact')">
                                <div>
                                    <img class="profile"
                                    src="../img_dos_integrantes/Thiago2.jpg"
                                    alt="">
                                </div>
                                <div>
                                    <h3>Thiago Santos</h3>
                                </div>
                                
                            </div>
                            <div id="thiago-contact" class="contact">
                                
                                <div>
                                    <span style="font-weight: bold;">Responsabilidade:</span>
                                    HTML, CSS, JAVASCRIPT
                                </div>
                                
                                <div>
                                    <span style="font-weight: bold;">Whatsapp:</span>
                                    (81) 9 98965-4101
                                </div>
                                
                                <div>
                                    <span style="font-weight: bold;">E-mail:</span>
                                    philipbhib15@gmail.com
                                </div>
                                
                                <div>
                                    <span style="font-weight: bold;">GitHub:</span>
                                    ThiagoH55
                                </div>
                                
                                <div>
                                    <a href="https://www.instagram.com/thi5go__h?igsh=MXE4OXI3dGh6czRkaA=="
                                    target="_blank">Instagram</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="right">
                        <div id="emanuel" class="container">
                            
                            
                            <div onclick="mostrarContato('emanuel-contact')">
                                <div>
                                    <img class="profile"
                                    src="../img_dos_integrantes/Emanuel.jpg"
                                    alt="">
                                </div>
                                <div>
                                    <h3>Emanuel Arcanjo</h3>
                                </div>
                                
                            </div>
                            <div id="emanuel-contact" class="contact">
                                
                                <div>
                                    <span style="font-weight: bold;">Responsabilidade:</span>
                                    HTML, CSS
                                </div>
                                
                                <div>
                                    <span style="font-weight: bold;">Whatsapp:</span>
                                    (81) 9 9125-3835
                                </div>
                                
                                <div>
                                    <span style="font-weight: bold;">E-mail:</span>
                                    emannuelsiilva2002@gmail.com
                                </div>
                                
                                <div>
                                    <span style="font-weight: bold;">GitHub:</span>
                                    EMANUEL BRITT
                                </div>
                                
                                <div>
                                    <a href="https://www.instagram.com/victtor_eul?igsh=NWVtb3pnaDN6eHk4"
                                    target="_blank">Instagram</a>
                                </div>
                            </div>
                    </div>
                </div>
                
                <div class="left">
                    <div id="laryssa" class="container">
                        
                        
                        <div onclick="mostrarContato('laryssa-contact')">
                            <div>
                                <img class="profile"
                                src="../img_dos_integrantes/Laryssa.jpg"
                                alt="">
                            </div>
                            <div>
                                <h3>Laryssa Medeiros</h3>
                            </div>
                            
                        </div>
                        <div id="laryssa-contact" class="contact">
                            
                            <div>
                                <span style="font-weight: bold;">Responsabilidade:</span>
                                HTML, CSS
                            </div>
                            
                            <div>
                                <span style="font-weight: bold;">Whatsapp:</span>
                                (81) 9 8264-8396
                            </div>
                            
                            <div>
                                <span style="font-weight: bold;">E-mail:</span>
                                Laryssasilva2016pebr@gmail.com
                            </div>
                            
                            <div>
                                <span style="font-weight: bold;">GitHub:</span>
                                larycaw
                            </div>
                            
                            <div>
                                <a href="https://www.instagram.com/la.ryssw?igsh=dHdndmc2aGpwMXVm"
                                target="_blank">Instagram</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="right">
                    <div id="vinicius" class="container">
                        
                        
                        <div onclick="mostrarContato('vinicius-contact')">
                            <div>
                                <img class="profile"
                                src="../img_dos_integrantes/Vinicius.jpg"
                                alt="">
                            </div>
                            <div>
                                <h3>Vinicius Brito</h3>
                            </div>
                            
                        </div>
                        <div id="vinicius-contact" class="contact">
                            
                            <div>
                                <span style="font-weight: bold;">Responsabilidade:</span>
                                HTML, CSS
                            </div>
                            
                            <div>
                                <span style="font-weight: bold;">Whatsapp:</span>
                                (81) 9 8814-5728
                            </div>
                            
                            <div>
                                <span style="font-weight: bold;">E-mail:</span>
                                Viníciuslc@gmail.com
                            </div>
                            
                            <div>
                                <span style="font-weight: bold;">GitHub:</span>
                                vzin
                            </div>
                            
                            <div>
                                <a href="https://www.instagram.com/vzin.o7?igsh=NWdveGQxMXlwamV2"
                                target="_blank">Instagram</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="left">
                    <div id="juan" class="container">
                        
                        
                        <div onclick="mostrarContato('juan-contact')">
                            <div>
                                <img class="profile"
                                src="../img_dos_integrantes/Juan.jpg"
                                alt="">
                            </div>
                            <div>
                                <h3>Juan Christen</h3>
                            </div>
                            
                        </div>
                        <div id="juan-contact" class="contact">
                            
                            <div>
                                <span style="font-weight: bold;">Responsabilidade:</span>
                                HTML, CSS, JAVASCRIPT
                            </div>
                            
                            <div>
                                <span style="font-weight: bold;">Whatsapp:</span>
                                (81) 99621-4333
                            </div>
                            
                            <div>
                                <span style="font-weight: bold;">E-mail:</span>
                                juancristen88551@gmail.com
                            </div>
                            
                            <div>
                                <span style="font-weight: bold;">GitHub:</span>
                                JuanOly
                            </div>
                            
                            <div>
                                <a href="https://www.instagram.com/soothjuan?igsh=MXVqMHlieWJ5cDFyNQ=="
                                target="_blank">Instagram</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="right">
                    <div id="elaynne" class="container">
                        
                        
                        <div onclick="mostrarContato('elaynne-contact')">
                            <div>
                                <img class="profile"
                                src="../img_dos_integrantes/Elaynne.jpg"
                                alt="">
                            </div>
                            <div>
                                <h3>Elaynne dos Santos</h3>
                            </div>
                            
                        </div>
                        <div id="elaynne-contact" class="contact">
                            
                            <div>
                                <span style="font-weight: bold;">Responsabilidade:</span>
                                HTML, CSS
                            </div>
                            
                            <div>
                                <span style="font-weight: bold;">Whatsapp:</span>
                                (81) 9 9781-8790
                            </div>
                            
                            <div>
                                <span style="font-weight: bold;">E-mail:</span>
                                Santosfernandes064@gmail.com
                            </div>
                            
                            <div>
                                <span style="font-weight: bold;">GitHub:</span>
                                elaynne-santos
                            </div>
                            
                            <div>
                                <a href="https://www.instagram.com/elaynnefernand5?igsh=amNrbTF5cnl5cm4w"
                                target="_blank">Instagram</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="./sobre.js"></script>

</body>

</html>
